.unit.cd>svg>g {
    stroke: currentColor;
}

.unit.cd>svg>g.dashed>path:first-child {
    stroke-dasharray: .3 .2;
}

.unit.cd>svg>g.dotted>path:first-child {
    stroke-dasharray: .06 .12;
}

.unit.cd>div>div>div.label {
    font-size: var(--length-font-log);
}