.unit.cd>svg>g,
.unit.CD>svg>g {
    stroke: currentColor;
}

.unit.cd>svg>g.dashed>path:first-child,
.unit.CD>svg>g.dashed>path:first-child {
    stroke-dasharray: .3 .2;
}

.unit.cd>svg>g.dotted>path:first-child,
.unit.CD>svg>g.dotted>path:first-child {
    stroke-dasharray: .06 .12;
}